<div class="container">

  <div class="row">

    <div class="col-9 mt-5">

      <%= render "posts/errors", obj:@user %>

      <h1 class="border-bottom border-danger">ユーザー情報の編集</h1>

      <%= form_with model:@user, local:true do |f| %>

      <% end %>


    </div>

    <div class="col-3 mt-5">
    </div>

  </div>
</div>