<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="mt-3">SQL</h1>
      <div class="card sql-card">
        <h5 class="card-header">ユーザー名の取得</h5>
        <div class="card-body">
          <h5 class="card-title">select name from users;</h5>
          <p><%= @res1_sql.to_a %></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h1 class="mt-3">ActiveRecord</h1>
      <div class="card ar-card">
        <h5 class="card-header">ユーザー名の取得</h5>
        <div class="card-body">
          <h5 class="card-title">User.all.pluck(:name)</h5>
          <p><%= @res1_AR %></p>
        </div>
      </div>
    </div>
  </div>
</div>