<div class="container-fluid">

  <div class="row">

      <div class="about-visual">
        <div class="about-visual-content text-center d-flex align-items-center px-5">
          <h4>
            <p>地方移住を考えている方々が、移住してみたい地方（Rural）<br>について正しい情報を知り、
               カンガルー（Kangaroo）のように<br>勢いよく都会から飛び出せるように本サイトを作成しました<br>
               <br>
               ご意見・ご要望等ございましたら、右下のコメントマークから<br>
               お問い合わせフォームに入力し、ご連絡ください。
            </p>
          </h4>
        </div>
      </div>

    </div>
  </div>

</div>