<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <%= render "posts/errors", obj:@user_prefecture %>
        <h1 class="border-bottom border-danger">ユーザー情報の編集</h1>
        <%= render partial: "user_prefecture_form", locals: {user_prefecture: @user_prefecture} %>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar" %>
      </div>
    </div>
  </div>
</div>