<% case prefecture_id %>
<% when 0 %>
  <a href="https://www.kuraso-hokkaido.com/" class="link">移住情報サイト</a>
<% when 1 %>
  <a href="https://www.aomori-life.jp/" class="link">移住情報サイト</a>
<% when 2 %>
  <a href="https://iju.pref.iwate.jp/" class="link">移住情報サイト</a>
<% when 3 %>
  <a href="https://miyagi-ijuguide.jp/" class="link">移住情報サイト</a>
<% when 4 %>
  <a href="https://www.a-iju.jp/" class="link">移住情報サイト</a>
<% when 5 %>
  <a href="https://yamagata-iju.jp/" class="link">移住情報サイト</a>
<% when 6 %>
  <a href="https://www.pref.fukushima.lg.jp/site/fui/" class="link">移住情報サイト</a>
<% when 7 %>
  <a href="https://iju-ibaraki.jp/" class="link">移住情報サイト</a>
<% when 8 %>
  <a href="https://www.tochigi-iju.jp/" class="link">移住情報サイト</a>
<% when 9 %>
  <a href="https://gunmagurashi.pref.gunma.jp/" class="link">移住情報サイト</a>
<% when 10 %>
  <a href="https://www.pref.saitama.lg.jp/a0106/sumunarasaitama/" class="link">移住情報サイト</a>
<% when 11 %>
  <a href="https://www.pref.chiba.lg.jp/seisaku/ijuteiju-chiba/portal/index.html" class="link">移住情報サイト</a>
<% when 12 %>
  <a href="https://www.iju-join.jp/prefectures/tokyo/index.html" class="link">移住情報サイト</a>
<% when 13 %>
  <a href="https://www.pref.kanagawa.jp/menu/6/33/167/index.html" class="link">移住情報サイト</a>
<% when 14 %>
  <a href="https://niigatakurashi.com/" class="link">移住情報サイト</a>
<% when 15 %>
  <a href="https://toyama-teiju.jp/" class="link">移住情報サイト</a>
<% when 16 %>
  <a href="https://iju.ishikawa.jp/" class="link">移住情報サイト</a>
<% when 17 %>
  <a href="https://www.fukui-ijunavi.jp/" class="link">移住情報サイト</a>
<% when 18 %>
  <a href="https://www.iju.pref.yamanashi.jp/" class="link">移住情報サイト</a>
<% when 19 %>
  <a href="https://www.rakuen-shinsyu.jp/" class="link">移住情報サイト</a>
<% when 20 %>
  <a href="https://www.gifu-iju.com/" class="link">移住情報サイト</a>
<% when 21 %>
  <a href="https://iju.pref.shizuoka.jp/" class="link">移住情報サイト</a>
<% when 22 %>
  <a href="https://www.uij-aichi.jp/" class="link">移住情報サイト</a>
<% when 23 %>
  <a href="https://www.ijyu.pref.mie.lg.jp/" class="link">移住情報サイト</a>
<% when 24 %>
  <a href="https://www.pref.shiga.lg.jp/iju/" class="link">移住情報サイト</a>
<% when 25 %>
  <a href="https://www.kyoto-iju.jp/" class="link">移住情報サイト</a>
<% when 26 %>
  <a href="https://www.pref.osaka.lg.jp/kikaku_keikaku/tihousousei_torikumi/teijyusokushin.html" class="link">移住情報サイト</a>
<% when 27 %>
  <a href="https://www.yume-hyogo.com/" class="link">移住情報サイト</a>
<% when 28 %>
  <a href="https://www.pref.nara.jp/item/118457.htm" class="link">移住情報サイト</a>
<% when 29 %>
  <a href="https://www.wakayamagurashi.jp/" class="link">移住情報サイト</a>
<% when 30 %>
  <a href="https://furusato.tori-info.co.jp/iju/" class="link">移住情報サイト</a>
<% when 31 %>
  <a href="https://www.kurashimanet.jp/" class="link">移住情報サイト</a>
<% when 32 %>
  <a href="https://www.okayama-iju.jp/" class="link">移住情報サイト</a>
<% when 33 %>
  <a href="https://www.pref.hiroshima.lg.jp/site/kouryuuteizyuuportalsite/" class="link">移住情報サイト</a>
<% when 34 %>
  <a href="https://www.ymg-uji.jp/" class="link">移住情報サイト</a>
<% when 35 %>
  <a href="https://tokushima-iju.jp/" class="link">移住情報サイト</a>
<% when 36 %>
  <a href="https://www.kagawalife.jp/" class="link">移住情報サイト</a>
<% when 37 %>
  <a href="https://e-iju.net/" class="link">移住情報サイト</a>
<% when 38 %>
  <a href="https://kochi-iju.jp/" class="link">移住情報サイト</a>
<% when 39 %>
  <a href="https://ijuu-teijuu.pref.fukuoka.lg.jp/" class="link">移住情報サイト</a>
<% when 40 %>
  <a href="https://www.sagasmile.com/" class="link">移住情報サイト</a>
<% when 41 %>
  <a href="https://nagasaki-iju.jp/" class="link">移住情報サイト</a>
<% when 42 %>
  <a href="https://www.kumamoto-life.jp/" class="link">移住情報サイト</a>
<% when 43 %>
  <a href="https://www.iju-oita.jp/" class="link">移住情報サイト</a>
<% when 44 %>
  <a href="https://iju.pref.miyazaki.lg.jp/" class="link">移住情報サイト</a>
<% when 45 %>
  <a href="https://www.kagoshima-iju.jp/" class="link">移住情報サイト</a>
<% else %>
  <a href="https://okinawa-iju.jp/" class="link">移住情報サイト</a>
<% end %>