<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <h1 class="border-bottom">全ての投稿(<%= @posts.count %>件)</h1>
        <div class="row row-cols-3">
          <% @posts.each do |post| %>
            <div class="col-4 mb-3" >
              <%= render partial: "posts/post_cards", locals: {post: post} %>
            </div>
          <% end %>
        </div>
        <div class="mt-5">
          <%= paginate @posts %>
        </div>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar", locals: {user:@user} %>
      </div>
    </div>
  </div>
</div>