/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Special+Elite&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Mate+SC&family=Special+Elite&display=swap');

 *{
  margin:0;
  padding: 0;
 }

 .ruraloos{
   font-family: 'Special Elite', cursive;
 }

 .sidebar{
   font-family: 'Mate SC', serif;
 }

 h1,h2,h3,h4,h5,.btn-text,.rubi,small,.ranking{
   font-family: 'Kaisei Opti', serif;
 }

 .navbar{
  background: linear-gradient(.25turn, #0d2835, 50%, white);
 }

 .btn-header{
   background-color:#c8d599;
   box-shadow: 2.5px 2.5px #000000;
 }

 .btn-header:active{
   position:relative;
   top: 2.5px;
   left: 2.5px;
   box-shadow:none;
 }

 .btn-text{
    box-shadow: 2.5px 2.5px #000000;
 }

 .btn-text:active{
   position:relative;
   top: 2.5px;
   left: 2.5px;
   box-shadow:none;
 }

 .main-visual{
  width:100%;
  height:750px;
  background-image: image-url("mountains.jpg");
  background-size:cover;
  background-position:center;
 }

 .main-visual-content{
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.7);
 }

 .sub-visual{
  width:100%;
  height:750px;
  background-image: image-url("lake.jpg");
  background-size:cover;
  background-position:center;
 }

 .sub-visual-content{
  width:100%;
  height:100%;
  color:black;
  background-color: rgba(255,255,255,0.1);
 }

 .map-visual{
    background: linear-gradient(-90deg, white, 50%, #b9d0b1);
 }

 .general-visual{
    background-color: rgba(185,208,177,0.3);
 }

 .about-visual{
  width:100%;
  height:750px;
  background-image: image-url("yozora.jpg");
  background-size:cover;
  background-position:center;
 }

 .about-visual-content{
  width:100%;
  height:100%;
  color:#000;
  background-color: rgba(255,255,255,0.3);
 }

 #notice{
  color:tomato;
  background-color:white;
  text-align:center;
  margin-bottom:0px;
  font-family: 'Kaisei Opti', serif;
 }

 #notice1{
  color:tomato;
  background-color:white;
  text-align:center;
  margin-bottom:0px;
  font-family: 'Kaisei Opti', serif;
 }

 .like-btn{
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #e54747;
 }

 .unlike-btn {
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #808080;
 }

 td a {
    display: block;
 }


 #error_explanation {
  color: red;
  font-family: 'Kaisei Opti', serif;
}

.post-cards{
    min-height: 550px;
}

.link{
    text-decoration:none;
    color:#022EB0;
}

.inquiry-button{
  position:fixed;
  right:100px;
  bottom:40px;
  color:green;
  z-index:100;
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 90px;
  top: 15px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 35px;
  height: 24px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #87888e;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 10px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style-type:none;
}
#sp-menu a {
  margin-top:50px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.pagination {
  justify-content: center;
}
