/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Special+Elite&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Mate+SC&family=Special+Elite&display=swap');

 @mixin like($color){
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: $color;
 }

 @mixin visual{
   width:100%;
   height:750px;
   background-size:cover;
   background-position:center;
 }

 @mixin visual_content($color,$alpha){
   width:100%;
   height:100%;
   color:$color;
   background-color: rgba(255,255,255,$alpha);
 }

 @mixin shadow{
   box-shadow: 2.5px 2.5px #000000;
 }

 @mixin shadow_active{
   position:relative;
   top: 2.5px;
   left: 2.5px;
   box-shadow:none;
 }

 @mixin notice{
   color:tomato;
   background-color:white;
   text-align:center;
   margin-bottom:0px;
   font-family: 'Kaisei Opti', serif;
 }

 @mixin button{
   position:fixed;
   bottom:40px;
   z-index:100;
 }

 $font_type1: 'Special Elite', cursive;
 $font_type2: 'Mate SC', serif;
 $font_type3: 'Kaisei Opti', serif;

 *{
   margin:0;
   padding: 0;
 }

 .ruraloos{
   font-family: $font_type1;
 }

 .sidebar{
   font-family: $font_type2;
 }

 h1,h2,h3,h4,h5,.btn-text,.rubi,small,.ranking,.pref{
   font-family: $font_type3;
 }

 .navbar{
   background: linear-gradient(.25turn, #0d2835, 50%, white);
 }

 .btn-header{
   @include shadow;
   background-color:#c8d599;
   &:active{
     @include shadow_active
   }
 }

 .btn-text{
   box-shadow: 2.5px 2.5px #000000;
   &:active{
     @include shadow_active
   }
 }

 .main-visual{
   @include visual;
   background-image: image-url("mountains.jpg");
 }

 .main-visual-content{
   width:100%;
   height:100%;
   background-color: rgba(255,255,255,0.7);
 }

 .sub-visual{
   @include visual;
   background-image: image-url("lake.jpg");
 }

 .sub-visual-content{
   @include visual_content(black, 0.1);
 }

 .map-visual{
   background: linear-gradient(-90deg, white, 50%, #b9d0b1);
 }

 .general-visual{
   background-color: rgba(185,208,177,0.3);
 }

 .about-visual{
   @include visual;
   background-image: image-url("yozora.jpg");
 }

 .about-visual-content{
  @include visual_content(#000, 0.3);
 }

 #notice{
   @include notice;
 }

 #notice1{
   @include notice;
 }

 .like-btn{
   @include like(#e54747);
 }

 .unlike-btn {
   @include like(#808080);
 }

 td a {
    display: block;
 }


 #error_explanation {
  color: red;
  font-family: $font_type3;
}

.post-cards{
  min-height: 550px;
}

.link{
  text-decoration:none;
  color:#022EB0;
}

.inquiry-button{
  @include button;
  right:100px;
  color:green;
}

.admin-button{
  @include button;
  right:30px;
  color:blue;
}

.arrow{
  color: #9ba5a0;
}

.pagination {
  justify-content: center;
}

.sql-card, .ar-card{
  min-height: 320px;
  margin-bottom: 20px;
}

.ranking_1{
  font-size: 24px;
  font-family: $font_type3;
}

.ranking_2{
  font-size: 20px;
  font-family: $font_type3;
}

.ranking_3{
  font-size: 18px;
  font-family: $font_type3;
}
