<footer class="bg-dark mt-4">
  <div class='container'>
    <!--<div class='row'>-->
      <div class='py-3'>
        <p class="text-center text-white">CopyRight © 2021 TakuMts. All Rights Reserved.</p>
      </div>
    <!--</div>-->
  </div>
</footer>