<footer class="bg-dark">
  <div class='container'>
    <!--<div class='row'>-->
      <div class='py-4'>
        <p class="text-center text-white">CopyRight © 2021 TakuMatsunaga. All Rights Reserved.</p>
      </div>
    <!--</div>-->
  </div>
</footer>